html{
    font-size: 12px;
}

body{font-family:'Noto Sans', sans-serif;}

/* 全体に適用させるもの */
a:visited{
    color: #000;
}

/* ヘッダーの画像　*/
.topImg{
    display: block;
    margin:0 auto;
    height:100px;
    padding-top:100px;
    padding-bottom:5rem;
}

/* 左右のマージン　*/
main .index{
    padding-right:5%;
    padding-left:5%;
}

/* ナビゲーション設定 */
.menu{
    width: 100%;
    display: flex;
    font-size: 1rem;
    margin-bottom: 8rem;
}

.menu ul{
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
}

.menu ul li {
    float: left;
    padding: 1rem;
}

.menu ul li a{
    text-decoration: none;
}

/* 作品画像関係の設定　*/

/* 作品個別の画像　*/
.workImg1{
    background: url(img/test1.jpg) no-repeat center;
}

.workImg2{
    background: url(img/test2.jpg) no-repeat center;
}

.workImg3{
    background: url(img/test3.jpg) no-repeat center;
}

/* 作品個別のフォーマット　*/
.workImg{
    display: block;
    height: 10rem;
    width: 100%;
    background-size: cover;
    border: none;
}

.workImg:hover{
    transition-duration: 0.3s;	/*変化に掛かる時間*/
    opacity: 0.6;
}

.work{
    overflow: hidden;
    float: left;
    width: 33%;
    padding-bottom: 2rem;
}

.work1{
    padding-right: 1%;
    box-sizing: border-box;
}

.work2{
    padding-right: 0.5%;
    padding-left: 0.5%;
    box-sizing: border-box;
}

.work3{
    padding-left: 1%;
    box-sizing: border-box;
}

/* 作品のアブスト　*/
.abstract{
    margin-top: 0px;
    padding: 0px;
    text-align: right;
}

.abstract a{
    text-decoration: none;
}


/* 作品単位ごとのページのCSS */
.one-off1 {
    background-color: #777777;
    width:100%;
    height: 20rem;
    margin: 0;
}